body {
	background: rgba(0, 0, 0, 0.199) url(imagens/fundoStarkcorrigido.png);
	background-size: 100%;
	background-attachment: scroll;
	margin: 0px;
	padding: 0px;
}

#GOTslogan {
    flex-grow: 1;
    text-align: center;
    color: white;
    background-color: black;
    font-family: 'UnifrakturCook', cursive;
    font-size: 50px;
}

#apresentacao {
    align-items: center;
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

section {
    display: grid;
    grid-template-areas: 
    "nome"
    "fotoBaratheon" 
	"bio";
    font-family: 'Luxurious Roman', cursive;
    color:#FFFF;
}

.nome {
    font-size: 60px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.fotoBio{
    display: grid;
    grid-template-areas: 
    "fotoBaratheon";
    align-items: center;
    font-size: x-large;
    column-gap: 20px;
}

a{
	font-size: 35px;
	text-decoration: none;
	font-family: 'Luxurious Roman', cursive;
	color:white;
}

a:link{
	color:rgb(209, 208, 208);
	font-weight: bolder;
}

a:visited{
	color:rgb(141, 153, 221);
	font-weight: bolder;
}

a:hover {
	color: #f70303;
	text-decoration: underline;

}

#aryaStark,#jonSnow {
	display: block;
	margin: 0 auto;
}
#brasao {
	display: flex;
	justify-content: center;
	align-items: center;
  }
img.alignright {
	display: inline;
	float: right;
	margin: 4px 0px 5px 10px;
}

#imgPonta img {
    width: 100%;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #000000;
}

ul {
	list-style-type: square;
}

blockquote {
	margin: 15px 30px 15px 10px;
	padding-left: 20px;
	border-left: 5px solid #C8D0CA;
}

#header {
	height: 110px;
	margin: 0px 0px 0px 0px;
	padding: 0;
	background: #000000 left top repeat-x; 
	margin-right: auto; 
	margin-left: auto; 
	border-bottom: 10px solid #C8D0CA;
}

#titulo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
	font-family: 'Luxurious Roman', cursive;
}

#mainTitle {
    text-align: center;
    margin: 0;
    color: black;
    font-size: 80px;
}
#openText {
    font-size: 25px;
    font-family: 'Luxurious Roman', cursive;
    color:#FFFF;
}
p {
    font-family: 'Luxurious Roman', cursive;
    color: black;
}

#container {
	width: 1024px;
	padding-left: 7px;
	padding-right: 7px;
	text-align: left;
	margin-top: 20px; 
	margin-bottom: 0px; 
	margin-right: auto; 
	margin-left: auto; 
}

#sidebar {
	width: 300px;
	margin-top: 13px;
	margin-bottom: 60px;
	float: right;
	display: inline;
}

.sidebarbox {
	background: #0303036b /*url('images/mb.gif')*/ left bottom no-repeat;
	font-family: 'Luxurious Roman', cursive;
	color:white;
	display: block;
	margin: 0px 0px 14px 0px;
}

.sidebarboxtop {
	/*background: url('images/mt.gif') left top no-repeat;*/
	padding: 10px 15px 11px 14px;
	width: 300px;
}

#sidebar ul {
	list-style: none; 
	margin-top: 0px;
	margin-bottom: 2px;
	margin-left: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

#sidebar ul ul {
	margin-top: 5px;
	margin-left: 3px;
	padding-right: 0px;
}

#sidebar li {
	margin-left: 0px;
	margin-bottom: 6px;
}

#content {
	margin: 0px 0px 60px 0px;
	padding: 0;
	float: left;
	width: 600px;
	display: block;
}
#footer {
	padding: 12px 0px 12px 0px;
	clear: both;
	display: block;
	margin-top: 60px;
	text-align: center;
	background-color: #F1F3F2;
	border-top: 1px solid #C8D0CA;
	margin-right: auto; 
	margin-left: auto; 
	color: black;
	font-size: 14pt;
}

#footer a{
	color: black;
	font-size: 14pt;
	font-weight: bolder;
}

.sidebarboxtop h2 {
	text-align: center;
	font-size: 40pt;
	font-family: 'UnifrakturCook', cursive;
  }